* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 0;
    /* border: 1px dotted black; */
}

.page-header {
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.container-fluid {
    display: flex;
    justify-items: auto;
    max-width: 1200px;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* margin: 1rem; */
}

.sidebar-nav {
    display: flex;
    list-style-type: none;
}

.sidebar-nav li {
    padding: 1rem;
}

.main-content {
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 3rem 0 3rem;
    line-height: 1.5rem;
    /* width: 70%; */
}

.intro {
    text-align: center;
    padding: 1rem 0 1rem 0;
    line-height: 1.5rem;
}

.main-page-header {
    font-size: 2.5rem;;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.page-header {
    text-align: left;
    text-decoration-line: underline;
    line-height: 1.75rem;
}

.blog-list {
    list-style-type: decimal;
    line-height: 1.5rem;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.blog-list-item {
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem;
}

.pagination {
    padding: 2rem;
}

.page-footer {
    padding: 3rem 2rem 2rem 2rem;
}